################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyGuestHouse.slnx/FileContentIndex/385ca0c8-35df-4016-9c8e-dd563ca36571.vsidx
/.vs/MyGuestHouse.slnx/FileContentIndex/718b83c2-8381-4f60-9854-9e5f4821c29e.vsidx
/.vs/MyGuestHouse.slnx/FileContentIndex/7f9f56f6-a185-45ea-8b93-8a8027ef12bb.vsidx
/.vs/MyGuestHouse.slnx/FileContentIndex
