nav {
    display: block;
    width: auto;
    background-color: #B38769;
    max-width: 1500px;
    height: 75px;
    font-size: 15px;
    padding: 1em;
}

footer {
    display: block;
    width: auto;
    background-color: #B38769;
    max-width: 1500px;
    height: 50px;
    font-size: 15px;
    text-align: center;
    color: #2B2B2B;
    padding: 1em;
}

nav ul {
    color: #2B2B2B;
}

a {
    color: #2B2B2B;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #2D8C8C;
}


.content {
    display: flex;
    justify-content: center;
}





#description {
    text-align: left;
    width: 90%;
}

