
header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom-style: solid;
    border-bottom-color: #EADCCD;
    border-bottom-width: thin;
    padding-right: 10px;
    background-color: #FFFFFF;
    width: auto;
    height: 60px;
}

body{
    margin: 0;
    background-color: #FFF8EE;
    font-family: sans-serif;
    color: #2B2B2B;
}

#nav-list {
    list-style-type: none;]
}


.nav-item {
    float: left;
    padding: 16px;
    color:#2B2B2B;
}
.nav-item:hover{
    font-style:italic;
}


#current-page{
    text-decoration: underline;
    text-decoration-color: #2B2B2B;
}


#book-button {
    
    background-color:#F4A55A;
    border:none;
    height: 40px;
    width: 100px;
    border-radius:12px;
    text-align:center;    
}

#logo{
    width: auto;
    height: 80px;
}

nav {
    display: flex;
    width: auto;
    max-width: 1500px;
    height: 75px;
    font-size: 15px;
    padding: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-style: solid;
    border-top-color: #EADCCD;
    border-top-width: thin;
    background-color: #FFFFFF;
    width: 100%;
    height: 150px;

}

#fnav{
    padding: 20px;

}

.flist{
    padding:5px;
    font-size:14px;
}

#flist{
    padding-bottom:5px;
}

#fcontact{
    padding: 20px;
    align-content:center;
}

.c-data{
    padding-left: 15px;
    padding-bottom: 5px;
    text-align:left;
    font-size:14px;
}

td{
    text-align:center;
}

#flogos{
    padding: 20px;
}

.sicon{
    font-size: 10px;
    height:40px;
    width:auto;
    overflow:hidden;
}

#flogo {
    width: auto;
    padding-right:15px;
    height: 80px;
    overflow:hidden;
    
}

div{
    display: inline-block;
}

p{
      text-align:center;
  }


a {
    color: #2B2B2B;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #2D8C8C;
}


.content {
    display: flex;
    justify-content: center;
}





#description {
    text-align: left;
    width: 90%;
}


