/*common css*/

body {
    margin: 0;
    background-color: #FFF8EE;
    font-family: sans-serif;
    color: #2B2B2B;
}

a {
    color: #2B2B2B;
    text-decoration: none;
}

h1 {
    color: #FFFFFF;
}

h2 {
    text-align: center;
}

p {
    text-align: center
}

/*header css*/

header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom-style: solid;
    border-bottom-color: #EADCCD;
    border-bottom-width: thin;
    padding-right: 10px;
    background-color: #FFFFFF;
    width: auto;
    height: 60px;
    z-index:1000;
}

#logo {
    width: auto;
    height: 60px;
}

#nav-list {
    display:flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.nav-item {
    padding: 16px;
    color: #2B2B2B;
}

.nav-item:hover {
    font-style: italic;
}


#current-page{
    text-decoration: underline;
    text-decoration-color: #2B2B2B;
}

nav {
    display: flex;
    width: auto;
    max-width: 1500px;
    height: 75px;
    font-size: 16px;
    padding: 1em;
}

.book-button {
    background-color: #F4A55A;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    color: #2B2B2B;
}

/*footer css*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-style: solid;
    border-top-color: #EADCCD;
    border-top-width: thin;
    background-color: #FFFFFF;
    width: 100%;
    height: 150px;
}

#fnav{
    padding: 20px;

}

.flist{
    padding:5px;
    font-size:16px;
}

#flist{
    padding-bottom:5px;
}

#fcontact{
    padding: 20px;
    align-content:center;
}

.c-data{
    padding-left: 15px;
    padding-bottom: 5px;
    text-align:left;
    font-size:16px;
}

td{
    text-align:center;
}

#flogos{
    padding: 20px;
}

.sicon{
    font-size: 10px;
    height:40px;
    width:auto;
    overflow:hidden;
}

#flogo {
    width: auto;
    padding-right:15px;
    height: 80px;
    overflow:hidden;
    
}

.inline-container {
    display: inline-block;
}

.container{
    position:relative;
    text-align:center;
}

/*index css*/

.main-image{
    width:95%;
    height:auto;
}



.description{
    color:#FFFFFF;
}

.image-content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.card-container{
    display: flex;
    text-align:center;
}

h3{
    text-align:center;
}

.card{
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
    background-color: white;
    color:#2B2B2B;
}

.card p{
    text-align:center;
    font-size:16px;
}


.card-img{
    text-align:center;
    width: 90%;
}

/*contact us css*/

#contact-page {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-areas: "header map" "contact-details map" "context map";
    grid-template-columns: 66% 34%;
    gap: 3px;
    padding: 5px;
}

.header{
    grid-area: header;
    padding: 10px;
    text-align: left;
}

.contact-details{
    font-size: 16px;
    text-align: left;
    grid-area: contact-details;
    color: #FFFFFF;
    padding: 10px;
}

.context{
    
    font-size: 18px;
    grid-area: context;
    text-align: left;
    color: #FFFFFF;
}

#map {
    text-align:center;
    grid-area: map;
    height: 100%;
}
iframe {
    text-align:center;
    width:100%;
    height:90%;
    border:0;
}

/*about css*/

.gallery-image {
    width: 100%;
    height: auto;
}

#image-group-a {
    width: 95%;
    display: grid;
    grid-template-areas: "left top-right" "left bottom-right";
    grid-template-columns: 67.5% 32.5%;
    grid-row-gap: 0px;
    padding: 5px;
    gap: 3px;
}

.left-image {
    position: relative;
    text-align: left;
    grid-area: left;
    width: 100%;
    height: auto;
}

.sub-image-a-a {
    grid-area: top-right;
    width: 100%;
    height: auto;
}

.sub-image-a-b {
    grid-area: bottom-right;
    width: 100%;
    height: auto;
}

#image-group-b {
    width: 95%;
    display: grid;
    grid-template-areas: "top-left right" "bottom-left right";
    grid-template-columns:32.5% 67.5%;
    grid-row-gap: 0px;
    padding: 5px;
    gap: 3px;
}

.right-image {
    position: relative;
    text-align: right;
    grid-area: right;
    width: 100%;
    height: auto;
}

.sub-image-b-a {
    grid-area: top-left;
    width: 100%;
    height: auto;
}

.sub-image-b-b {
    grid-area: bottom-left;
    width: 100%;
    height: auto;
}

#image-group-c {
    width: 95%;
    display: grid;
    grid-template-areas: "top-left top-right" "bottom-left bottom-right";
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    gap: 3px;
}

.c-image-a {
    position: relative;
    text-align: left; 
    grid-area: top-left;
    width: 100%;
    height: auto;
}

.c-image-b {
    position: relative;
    text-align: left;
    grid-area: top-right;
    width: 100%;
    height: auto;
}

.c-image-c {
    position: relative;
    text-align: left;
    grid-area: bottom-left;
    width: 100%;
    height: auto;
}

.c-image-d {
    position: relative;
    text-align: center;
    grid-area: bottom-right;
    width: 100%;
    height: auto;
}

.about-image-left-content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}

.about-image-right-content {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(30%, -50%);
}

.other-features {
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translate(-10%, 10%);
}

.other-features-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}