
header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom-style: solid;
    border-bottom-color: #EADCCD;
    border-bottom-width: thin;
    padding-right: 10px;
    background-color: #FFFFFF;
    width: auto;
    height: 60px;
    z-index:1000;
}

body{
    margin: 0;
    background-color: #FFF8EE;
    font-family: sans-serif;
    color: #2B2B2B;
}


#nav-list {
    display:flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}


.nav-item {
    padding: 16px;
    color: #2B2B2B;
}

.nav-item:hover {
    font-style: italic;
}


#current-page{
    text-decoration: underline;
    text-decoration-color: #2B2B2B;
}


.book-button {
    
    background-color:#F4A55A;
    border:none;
    padding: 10px 20px;
    border-radius:12px;
    text-align:center;
    font-size: 16px;
    color:#2B2B2B;
}

#logo{
    width: auto;
    height: 60px;
}

nav {
    display: flex;
    width: auto;
    max-width: 1500px;
    height: 75px;
    font-size: 16px;
    padding: 1em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-style: solid;
    border-top-color: #EADCCD;
    border-top-width: thin;
    background-color: #FFFFFF;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-between;
}

#fnav{
    padding: 20px;

}

.flist{
    padding:5px;
    font-size:16px;
}

#flist{
    padding-bottom:5px;
}

#fcontact{
    padding: 20px;
    align-content:center;
}

.c-data{
    padding-left: 15px;
    padding-bottom: 5px;
    text-align:left;
    font-size:16px;
}

td{
    text-align:center;
}

#flogos{
    padding: 20px;
}

.sicon{
    font-size: 10px;
    height:40px;
    width:auto;
    overflow:hidden;
}

#flogo {
    width: auto;
    padding-right:15px;
    height: 80px;
    overflow:hidden;
    
}

.inline-container{
    display: inline-block;
}

a {
    color: #2B2B2B;
    text-decoration: none;
}

.container{
    position:relative;
    text-align:center;
}

.main-image{
    width:95%;
    height:auto;
}

h1{
    color: #FFFFFF;
}

#cottage-description{
    color:#FFFFFF;
}

#image-content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

h2{
    text-align:center;
}

.card-container{
    display: flex;
    text-align:center;
}

h3{
    text-align:center;
}

.card{
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
    background-color: white;
    color:#2B2B2B;
}

.card p{
    text-align:center;
    font-size:16px;
}


.card-img{
    text-align:center;
    width: 90%;
}